.carousel-inner {
    height: 500px; /* Фиксированная высота */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение заполняет контейнер без искажений */
}


